body {
    background-color: floralwhite
};

div {
    background-color: cornflowerblue
}

        .column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

